html{
    scroll-behavior: smooth;
    display: grid;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 8px;
    text-align: right;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 18px;
}
li {
    float: left;
    list-style: none;
    padding-right: 100px;
}
.list {
    margin-top: 49px;
    margin-bottom: 19px;
}
div{
    width: 1080px;
    margin: auto;
    display: grid;
}